<div class="modal fade colored-header colored-header-primary show" id="EditPassengerModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<%= form_for(:ticket, url: flight_ticket_path(flight, ticket), method: :patch, :html => { 'data-redirect' => url_for(flights_passengers_path(flight)) }) do |f| %>
			<div class="modal-content be-loading">
				<div class="modal-header modal-header-colored">
					<h3 class="modal-title"><%= t(:new_passenger) %></h3>
					<button class="close md-close" type="button" data-dismiss="modal" aria-hidden="true">
						<span class="mdi mdi-close"></span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<%= f.label(:passenger) %> 
								<%= f.text_field(:passenger_name, { value: ticket.passenger.fullname(), class: 'form-control', id: 'passenger_name', 'data-href': url_for(passengers_autocomplete_path) })%>
								<%= f.hidden_field(:passenger_id, { value: ticket.passenger_id }) %>
								<%= f.hidden_field(:flight_id, { class: 'permanent', value: flight.id }) %>
								<span class="text-muted text-small">Autocomplete by passenger full name.</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<%= f.label(:seat) %>
								<%= f.select(:seat, seats, {}, { value: ticket.seat, class: 'select2', id: 'seat' }) %>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-danger" id="DeleteBtn" type="button" data-dismiss="modal" data-href="<%= url_for flight_ticket_path(flight) %>"><%= t :delete %></button>
					<%= f.submit({:class => 'btn btn-primary'}) %>
				</div>
				<div class="be-spinner">
					<svg width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://-www.w3.org/2000/svg">
						<circle class="circle" fill="none" stroke-width="4" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
					</svg>
				</div>
			</div>
		<% end %>
	</div>
</div>